<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="card">
			<ng-template [ngIf]="loading" [ngIfElse]="showTable">
				<skeleton-table-component [title]="title"></skeleton-table-component>
			</ng-template>

			<ng-template #showTable>
					<p-table #dt [value]="users" [paginator]="true"  [rows]="5"
					responsiveLayout="scroll"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['userId','name', 'userName', 'email']">
						<ng-template pTemplate="header">
							<tr>
								<th pSortableColumn="userId">Id <p-sortIcon field="userId"></p-sortIcon> <p-columnFilter type="text" field="userId" display="menu" class="ml-auto" ></p-columnFilter></th>
								<th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon> <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="userName">Usuario <p-sortIcon field="userName"></p-sortIcon><p-columnFilter type="text" field="userName" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="role">Rol <p-sortIcon field="roleId"></p-sortIcon><p-columnFilter type="text" field="role" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon><p-columnFilter type="text" field="email" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="active">Estado <p-sortIcon field="active"></p-sortIcon></th>
								<th>Acción</th>
							</tr>
						</ng-template>
							<ng-template pTemplate="caption">
                                <h4 class="mt-2">{{title}}</h4>
								<div class="flex">
									<button pButton  class="ml-2" pRipple type="button" (click)="addUser()" pTooltip="Agregar nuevo usuario" tooltipPosition="bottom" label="Agregar" ></button>
									<span class="p-input-icon-left ml-auto">
										<i class="pi pi-search"></i>
										<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
									</span>
								</div>
							</ng-template>
						<ng-template pTemplate="body" let-user>
							<tr>
								<td style="width: 10%; min-width: 2rem;">{{user.userId }}</td>
								<td style="width: 35%; min-width: 7rem;">{{user.name}}</td>
								<td style="width: 25%; min-width: 4rem;">{{user.userName}}</td>
								<td style="width: 20%; min-width: 4rem;">{{user.role}}</td>
								<td style="width: 35%; min-width: 5rem;">{{user.email}}</td>
								<td style="width: 15%; min-width: 4rem;">
									<ng-template [ngIf]="user.active" [ngIfElse]="inactive">
										<p-chip label="Activo" styleClass="custom-chip" icon="pi pi-check"></p-chip>
									</ng-template>
									<ng-template #inactive>
										<p-chip label="Inactivo" icon="pi pi-check"></p-chip>
									</ng-template>
								</td>
								<td style="width: 20%;">
									<button (click)="editUser(user)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-component p-button-text p-button-icon-only"></button>
								</td>
							</tr>
						</ng-template>
					</p-table>

			</ng-template>
		</div>
	</div>
	<user-dialog-component (userModify)="userModify($event)" ></user-dialog-component>
</div>
