<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <ng-template [ngIf]="loading" [ngIfElse]="showTable">
                <skeleton-table-component [title]="title"></skeleton-table-component>
            </ng-template>
            <ng-template #showTable>
                    <p-table #dt [value]="historyList" [paginator]="true"  [rows]="5" [totalRecords]="historyList.length"
                    responsiveLayout="scroll"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['userID','name','date']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="userID">Id Usuario<p-sortIcon field="userID"></p-sortIcon> <p-columnFilter type="text" field="userID" display="menu" class="ml-auto" ></p-columnFilter></th>
                                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon> <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon> <p-columnFilter type="text" field="date" display="menu" class="ml-auto"></p-columnFilter></th>
                            </tr>
                        </ng-template>
                            <ng-template pTemplate="caption">
                                <h4 class="mt-2">{{title}}</h4>
                                <div class="flex">
                                    <!-- <button pButton  class="ml-2" pRipple type="button" (click)="addOrder()" pTooltip="Agregar nueva Orden" tooltipPosition="bottom" label="Agregar" ></button> -->
                                    <p-button (onClick)="showNewAccounts()" label="Nuevo Reporte" pTooltip="Generar un nuevo reporte de cuentas bancarias"></p-button>
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar.." />
                                    </span>
                                </div>
                            </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td style="width: 10%; min-width: 2rem;">{{user.userID }}</td>
                                <td style="width: 25%; min-width: 4rem;">{{user.name }}</td>
                                <td style="width: 25%; min-width: 4rem;">{{user.date | date:'dd/MM/yyyy'}}</td>
                                <td style="width: 5%;">
                                    <button pTooltip="Historial de orden de compra." pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help" (click)="getAccountById(account)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
            </ng-template>
        </div>
    </div>
</div>
