<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <ng-template [ngIf]="loading" [ngIfElse]="showTable">
                <skeleton-table-component [title]="title"></skeleton-table-component>
            </ng-template>
            <ng-template #showTable>
                    <p-table #dt [value]="reconciliationList" [paginator]="true"  [rows]="5" [totalRecords]="reconciliationList.length"
                    responsiveLayout="scroll"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['id','docDate','createdByName']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon> <p-columnFilter type="text" field="id" display="menu" class="ml-auto" ></p-columnFilter></th>
                                <th pSortableColumn="docDate">Empresa<p-sortIcon field="docDate"></p-sortIcon> <p-columnFilter type="text" field="docDate" display="menu" class="ml-auto" ></p-columnFilter></th>
                                <th pSortableColumn="createdByName">Codigo Proveedor <p-sortIcon field="createdByName"></p-sortIcon> <p-columnFilter type="text" field="createdByName" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th>Historial</th>
                            </tr>
                        </ng-template>
                            <ng-template pTemplate="caption">
                                <h4 class="mt-2">{{title}}</h4>
                                <div class="flex">
                                    <!-- <button pButton  class="ml-2" pRipple type="button" (click)="addOrder()" pTooltip="Agregar nueva Orden" tooltipPosition="bottom" label="Agregar" ></button> -->
                                    <p-button (onClick)="showNewReconciliation()" label="Nueva Reconciliacion" pTooltip="Generar una nueva reconciliacion"></p-button>
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar.." />
                                    </span>
                                </div>
                            </ng-template>
                        <ng-template pTemplate="body" let-order>
                            <tr>
                                <td style="width: 10%; min-width: 2rem;">{{order.id }}</td>
                                <td style="width: 25%; min-width: 4rem;">{{order.docDate | date:'dd/MM/yyyy'}}</td>
                                <td style="width: 25%; min-width: 4rem;">{{order.createdByName}}</td>
                                <td style="width: 5%;">
                                    <button pTooltip="Historial de orden de compra." pButton pRipple icon="pi pi-eye" class="p-button-rounded" (click)="showChat(order)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
            </ng-template>
        </div>
    </div>
</div>
