<p-dialog  header="{{isAdd ? 'Agregar': 'Editar'}} Rol" [(visible)]="display" 
modal="true" blockScroll="true" [style]="{width: '50vw'}">

    <ng-template [ngIf]="loading" [ngIfElse]="data">
        Cargando...
    </ng-template>
    <ng-template #data>
        <form [formGroup]="formRole" *ngIf="formRole" class="mb-5">
            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <span class="mt-4 p-float-label p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input id="description" type="text" pInputText  formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"> 
                        <label for="name">Descripción</label>
                    </span>
                    <div *ngIf="formRole.controls['description'].invalid && formRole.controls['description'].dirty" >
                        <small  *ngIf="formRole.controls['description'].errors.required" id="description" class="p-error block">Descripción es requerido</small>
                    </div>
                </div>
                
                <div *ngIf="!isAdd" class="col-12 md:col-12">
                    <p-checkbox binary=true label="Activo"  name="groupname" [formControl]="formRole.controls['active']"></p-checkbox>
                </div>
            </div>
        </form>
        
        <h6>Permisos</h6>
        <div *ngIf="role">
            <p-tree [value]="role.detail" >
                <ng-template let-node pTemplate="default">
                    <div class="flex">
                        <div class="ml-1">
                            <p-checkbox binary=true name="groupname" [(ngModel)]="node.active"></p-checkbox>
                        </div>
                        <div >
                            <b>{{node.label}}</b>
                        </div>
                    </div>
                </ng-template>
            </p-tree>
        </div>

    </ng-template>
        
    <ng-template pTemplate="footer">
        <ng-template [ngIf]="isAdd" [ngIfElse]="addButton">
            <button pButton type="button" [disabled]="formRole.invalid || loading" (click)="add()" label="Agregar" ></button>
        </ng-template>
        <ng-template #addButton>
            <button pButton type="button" [disabled]="formRole.invalid || loading" (click)="edit()" label="Editar" ></button>
        </ng-template>
    </ng-template>
</p-dialog>