<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="card">
			<ng-template [ngIf]="loading" [ngIfElse]="showTable">
				<skeleton-table-component [title]="title"></skeleton-table-component>
			</ng-template>

			<ng-template #showTable>
				<h4>{{title}} <button pButton class="ml-2 mt-1 p-button-sm " pRipple type="button" (click)="addPermission(0)"
					pTooltip="Agregar menu principal" tooltipPosition="bottom" label="Agregar Menu Principal" ></button></h4>
				<p-tree [value]="permissions" >
					<ng-template let-node pTemplate="default">
						<div class="flex">
							<div class="mt-2">
								<b>{{node.label}}</b>

							</div>
                            <!-- <div class="mt-2" style="padding-left: 10px;">
                                <b>{{node.positionId}}</b>
                            </div> -->

							<div class="sizes ml-2">
								<p-button (click)="editPermission(node)" label="Editar" icon="pi pi-pencil" styleClass="p-button-sm p-button-link"></p-button>
								<p-button (click)="addPermission(node.permissionId)" label="Agregar Hijo"  icon="pi pi-plus-circle" styleClass="p-button-sm p-button-link p-button-warning"></p-button>
							</div>
						</div>
					</ng-template>
				</p-tree>

			</ng-template>
		</div>
	</div>
	<permission-dialog-component (permissionModify)="permissionModify($event)" ></permission-dialog-component>
</div>
